// Font
$mainFont: 'Montserrat-Regular',
sans-serif;
$mainFontColor: #101010;
// Size
$mainFontSize: 14px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;
$menuFont-color: #E6E6E6;
// forms
$buttonsPrimary-color: #58ACFA;
$buttonsSecondary-color: #FFBF00;
$buttonsText-color: #FFFFFF;
$neutral-placeholder: #C0C4CC;